/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 juin 2017, 21:40:33
    Author     : vien34
*/

////////Header///////////

#header {
    color: $yellow; 
    text-align: center;
    > #miniNav {
        margin: 0px
    }
}

/////////section About/////////



.headerAbout{
    background-color: $yellow;
    color: $beige;
}
.bodyAbout{
    color: $textForBeige;
    background-color: $beige; 
    padding: 150px 60px 50px 90px; 
    > .row > h4{
        font-size: 45px;
        letter-spacing : 2px;
    }
}

.marginSectionAbout{
    border-left: 5px solid $yellow; 
    padding:  10px;
    padding-left: 20px;
    margin-top: 50px;
}


/////Skill bar 

.skills {
    list-style: none;
    margin: 20px;
}

@media screen and (min-width: 768px) {
    .skills {padding: 0}
}
.sb_progress{
    background-color : rgb(236, 203, 150) !important;
    border:  1px solid $yellow ;
}


.sb_bar{
    background-color : $yellow !important;
    color : inherit !important;

}


/////////section Project/////////

.headerProjet{
    background-color: $beige;
              transition-duration: .5s;

    > h2 {
        color: $textForBeige;
    }
}



.projetThumb{
    background-size :cover;
    background-position: center; 
    padding: 0  !important;
    transition-duration: .50s;
    
}.projetThumb:hover{
    
   transition-duration: .2s;
background-image: !important; 
}

.bodyProjet{
    padding: 0px;
}

/////Cole in js /////

////for fixed titel section ////

.fixed {
    position: fixed;
    width: 50%;
    bottom: 0px;
}
.scrollitR {
    float: right;
    width:50%
}

.scrollitL {
    float: left;
    width:50%
}
/////Projet

.projetOn{

    > .headerProjet {
          transition-duration: .5s;
     width: 200px;
     z-index : 50;
     > .titelCenterProjet{
         top: 0px !important;
         left: 0px !important;
     }
    }
    > .bodyProjet{
        transition-duration: .4s;
        transition-delay:  .2s;
        position:absolute;
        width: 100%;
    }
   
   
}

.selectProjetOn{
   height: 350px !important;
}


