/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 juin 2017, 21:40:33
    Author     : vien34
*/

////////Header///////////

#header {
    
    color: $yellow; 
    text-align: center;
    > #miniNav {
        margin: 0px
    }
}
/////////section About/////////


.headerAbout{
    background-color: $yellow;
    color: $beige;
    > h2{ // Title 
        font-family:fonteTitel;
        font-size: 50px;
    }
    
}
.bodyAbout{
    background-color: $beige; 
         padding: 150px 60px 50px 90px; 
         > .row > h4 {
             font-family: fonteTitelAboutMe;
             font-size: 40px;
              letter-spacing : 2px;
         }
}

/////Cole in js /////

////for fixed titel section ////

.fixed {
        position: fixed;
        width: 50%;
        bottom: 0px;
}
.scrollit {
        float: right;
        width:50%
}