/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 juin 2017, 23:27:57
    Author     : vien34
*/


/////////Typo //////////

	
@font-face {
	font-family: "fonteTitel";
	
	src:url('../font/Otterly.otf') format('truetype');
        
}
@font-face {
	font-family: "fonteTitelAboutMe";
	src:url('../font/ralewase/Raleway-Black.ttf') ;
        
}
/////////Colore //////////

$yellow :#EEAB39;

$grey :#404141;

$beige :#FBFED2;


///////////All theme ///////////////////

body{
    background-color: $grey;
    padding: 0px !important;
    
}
.row {
    margin: 0px;
}
.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}