/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 juin 2017, 23:27:57
    Author     : vien34
*/


/////////Typo //////////

	


@font-face {
	font-family: "typoH1";
	src:url('../font/ralewase/Raleway-Black.ttf') ;
        
}
@font-face {
	font-family: "typoH2";
	src:url('../font/ralewase/Raleway-ExtraBold.ttf') ;
        
}
@font-face {
	font-family: "typoH3";
	src:url('../font/ralewase/Raleway-Bold.ttf') ;
        
}
@font-face {
	font-family: "typoH4";
	src:url('../font/ralewase/Raleway-SemiBold.ttf') ;
        
}


@font-face {
	font-family: "typoText";
	src:url('../font/ralewase/Raleway-Light.ttf') ;
        
}

/////////Colore //////////

$yellow :#EEAB39;

$grey :#453D3F;

$beige :#EADBC4;


///////////All theme ///////////////////

.tipoH1{
    font-family: "typoH1";
}

.tipoH2{
    font-family: "typoH2";
}

.tipoH3{
    font-family: "typoH3";
}

.tipoH4{
    font-family: "typoH4";
}

.tipoText{
     font-family: "typoText";
     font-size: 18px!important;
     text-align :justify; 
}

body{
    background-color: $grey;
    padding: 0px !important;
    
}
.row {
    margin: 0px;
    margin-bottom: 50px;
}



.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}

